.card {
    display: flex;
    flex-wrap: wrap;
}

.card-header {
    width: 100%;
    display: flex;
    /* gap: 1rem; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    font-family: Helvetica, sans-serif;
}

.card-content {
    display: none;
    align-items: center;
    justify-content: center;
    

}

h3 {
    text-align: center;
    font-size: 3rem;
}

button {
    height: 2rem;
    width: 10rem;
    border-radius: 20%;
    border: 2px black solid;
    margin-bottom: 2rem;
}

